<!doctype html>
%html.no-js{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}
      %meta{:content => "ie=edge", "http-equiv" => "x-ua-compatible"}
        %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
          %title Foundation for Sites
          %link{:href => "css/app.css", :rel => "stylesheet"}
  %body
    .top
      .row.align-middle.text-center
        .column.small-12.medium-4
          .temperature.water
            %span#water-temp 102&deg;
            %h2 Water
        .column.small-12.medium-4
          :markdown
            #Sam's
            #Hot Tub
            #Club
        .column.small-12.medium-4
          .temperature.air
            %span#air-temp 77&deg;
            %h2 Air

    %script{:src => "bower_components/jquery/dist/jquery.js"}
    %script{:src => "bower_components/what-input/what-input.js"}
    %script{:src => "bower_components/foundation-sites/dist/foundation.js"}
    %script{:src => "bower_components/highcharts/highcharts.js"}
    %script{:src => "js/app.js"}
